# Gradle build folder
build/
.gradle/


# IntelliJ IDEA files
/.idea/
/*.iml

# Compiled class files
*.class

# JARs
/*.jar

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Local scripts
set-java17.sh

#application-funkymonks.properties
.env
application-local.properties

#Pictures and images 
src/main/resources/static/background.jpg